.Details .Film {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    margin: 10px;
    min-width: 650px;
    width: 50%;
}

.Details .FilmImage {
    height: 256px;
}

.Details .FilmInfo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.Details .Score {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.Details .ScoreImage {
    height: 32px;
    margin: 1px;
    margin-bottom: 10px;
}

.Details .ScoreNumber {
    font-size: 30px;
    font-weight: 500;
    margin: 1px;
    margin-bottom: 10px;
}

.Details .FilmName {
    font-size: 40px;
    margin: 1px;
    font-weight: 500;
}