.Details .MovieContainer {
    margin: 10px;
    min-width: 650px;
    width: 50%;
    background-color: white;
    padding: 15px;
}

.Details .MovieAligner {
    display: flex;
    align-items: center;
}

.Details .MovieImage {
    height: 256px;
}

.Details .MovieDetails {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.Details .MovieTitle {
    font-size: 40px;
    margin: 1px;
    font-weight: 500;
}

.Details .MovieContent {
    font-size: 30px;
    margin: 1px;
    font-weight: 300;
}

.Details .DeleteButton {
    font-size: 30px;
    padding-top: 10px;
}

.Details .DeleteButton:hover {
    cursor: pointer;
}