.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232334;
    height: 10vh;
}

.Header input {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
}
  
.Header .LogoImage {
    height: 50px;
    padding: 5px;
}
  
.Header .SearchBar {
    height: 32px;
    padding: 8px;
    width: 33%;
    min-width: 200px;
    margin-right: auto;
    color: white;
}
  
.Header .LoginLink {
    font-size: 40px;
    padding-right: 10px;
    color: white;
}

.Header .LogoutLink {
    font-size: 40px;
    padding-right: 10px;
    color: white;
}

.Header .LogoutLink:hover {
    cursor: pointer;
}

.Header .AddVideo {
    font-size: 40px;
    color: white;
    padding-right: 10px;
    max-height: 10vh;
}

.Header .UserName {
    font-size: 40px;
    color: white;
    padding-right: 10px;
}