.Home .MovieContainer {
    margin: 10px;
    background-color: rgb(58, 58, 58);
    width: 250px;
    padding: 15px;
}

.Home .MovieAligner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Home .MovieImage {
    height: 256px;
}

.Home .MovieTitle {
    font-size: 20px;
    margin: 1px;
    font-weight: 500;
    color: white;
}
.Home .Swiper {
    padding-top: 250px;
}